{% extends 'base.html' %}
{% load static %}
{% block title %} home{% endblock %} 
{% block content %}
<div class="hero_section_in_about">
  <!-- <h4>electrical engineering services &</h4> -->
  <h3>FOR </h3>
  <h3>electrical </h3>
  <h3>engineering</h3>
  <!-- <p>--About us--</p> -->
  <div class="button">
    <a href="" class="connect_with_us">connect with us</a>
  </div>
</div>
<div class="about_us_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>about us</h3>
        <div class="items">
          <div class="description">
            <p>
              Powergrid Field limited provide a comprehensive range of services to meet
              requirement of the market, namely engineering design, sales, supply, deliver,
              installation, electrical power supply, distribution lighting points, small power
              points, plant automation, solar PV system services and Maintenance, power 
              factor correction ...
               <!-- uninterruptable power supply (UPS) complete generator 
              solution, motor control equipment's including motor control center, 
              variable speed  drives (VSD), soft starters, process and control instrumentation 
              and PLCs, SCADA systems.  -->
              <!-- We're committed to high quality of workmanship and provide a safe work
              environment on all projects. We attribute our success to building strategical
              partnership and treating customer the way we want to be treated. We
              believe the quality in our work will represent us for year to come.
              Company Vision is to achieve 100% customer satisfaction by delivering 
              quality products and services at an affordable cost. -->
            </p>
          </div>
          <div class="diagonal"></div>
          <div class="image_section">
            <img src="{% static './images/avatar.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="client_saved_section">
</div>
<div class="client_saved">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item">
          <div class="circle1"><h5 >client's</h5></div>
          <div class="circle1"><h5 >Projects</h5></div>
          </div>
        <div class="item">
          <div class="circle">10+</div>
            <div class="circle">20+</div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="clients_saved_2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item">
          <div class="client">
            <h5>Clients</h5>
            <p>10+</p>
          </div>
          <div class="Projects">
            <h5>Projects</h5>
            <p>20+</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}