{% extends 'base.html' %}
{% load static %}
{% block title %} contact{% endblock %} 
{% block content %}
<div class="hero_section">
  
  <h3 class="text-center">Contacts</h3>
</div>
<div class="our_contact1">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="item">
        <div class="description">
          <p>Kawe-Kinondoni</p>
          <p>P.O.BOX 1888</p>
          <p>Dar-es-salaam</p>
        </div>
        <div class="description">
          <p>+255 682 *** ***</p>
          <p>+254 682 *** ***</p>
          <p>+254 123 *** ***</p>
        </div> 
        <div class="description">
          <p>ha@gmail.com</p>
          <p>ha@gmail.com</p>
          <p>ha@gmail.com</p>
        </div> 
      </div>
     </div>
   </div>
 </div>
</div>
<div class="map_section">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.846453054401!2d77.07387431471734!3d28.454044698888275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18ebd2a4cb89%3A0x182fc4f1d6482eda!2sPOWERGRID%20Township!5e0!3m2!1ssw!2stz!4v1663474998710!5m2!1ssw!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



{% endblock %}