{% extends 'base.html' %}
{% load static %}
{% block title %} service{% endblock %} 
{% block content %}
<div class="hero_section_in_service_page">

  <h3>Services Offered by </h3>
  <h3>Powergrid fields Limited</h3>
  
</div>
<div class="service_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="item">
         <h3>our services</h3>
         <div class="empty"></div>
           <div class="vtl">
             <div class="event">
                <ol>
                  <li>Engineering design, sales, supply, deliver. </li>
                  <li>installation, electrical power supply, distribution</li>
                  <li>Uninterruptable power supply (UPS) complete generator solution</li>
                </ol>
                
             </div>
             <div class="event">
                <ol>
                  <li>Lighting points, small power points. </li>
                  <li>Plant automation, solar PV system services </li>
                  <li>Maintenance, power factor correction</li>
                </ol>      
             </div>
             <div class="event">
                <ol>
                  <li>
                    Motor control Equipment's including  motor control centers, 
                    variable sped drives (VSD),
                    Soft starters, process and control instrumentation 
                    and PLCS, SCADA system </li>
                </ol>      
             </div>      
           </div>
       </div>
      </div>
    </div>
  </div>
 </div>
 <div class="service_description_section">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="item">
           <div class="empty"></div>
           <div class="description">
             <p>-Our Experiences cover Electrical Engieering Services in Hotel, Offices Biuldings, petroleum depot
              Water supply, water treatment plant and Sewage works, Food and Beverage Industries; water 
              industries we also partner with specialized companies to iensure the right outcome are attained 
              to our clients needs </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock %}